:root {
    /* Text section */
    --FirstFont: 'Roboto', sans-serif;
    --SecondFont: 'Raleway', sans-serif;
    --MainFontSize: 14px;

    /* Color section */
    --MainColor: #212121;
    --FirstMainColor: #ffffff;
    --ButtonMainColor: #ffffff;
    --DescriptionColor: #757575;
    --AccentColor: #2196f3;
    --header-logo-TextColor: #000000;
    --HeaderBorderColor: #ececec;
    --MainBackgroundColor: #2f303a;
    --SecondBackgroundColor: #ffffff;
    --ContactColor: #757575;
    --TeamBackgroundColor: #f5f4fa;
    --footer-logo-TextColor: #ffffff;
    --button-BackgroundColor: #2196f3;
    --button-BackgroundColor-hover:#2F303A;
    --GalleryItemColor: #212121;
}
body {
    font-family: var(--FirstFont);
    font-size: var(--MainFontSize); /*variable*/
    color: var(--MainColor);
    background-color: var(--SecondBackgroundColor);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.nostyle {
    list-style: none;
    font-style: normal;
    padding: 0;
}
.nomargin-nopadding {
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
}
.link:hover, .link:focus {
    color: var(--AccentColor);
}
.button {
    border: 0;
    border-radius: 4px;
    color: currentColor;
    font-family: var(--FirstFont);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.button-selected {
    background-color: var(--button-BackgroundColor);
    color: var(--ButtonMainColor);
}
.button:hover,
.button:focus {
    color: var(--FirstMainColor);
    background-color: var(--button-BackgroundColor);
}
.button:active {
    color: var(--ButtonMainColor);
    background-color: var(--button-BackgroundColor);
}
.logo {
    font-family: var(--SecondFont);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--AccentColor);
}

/*Header section*/
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 215px;
    border-bottom: 1px solid var(--HeaderBorderColor);
}
.header-nav-item, .header-nav-accent,
.header-contact-item, .header-contact-accent {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-nav-accent, .header-contact-accent {
    color: var(--AccentColor);
}
.header-nav-item {
    color: var(--MainColor);
}
.header-contact-item {
    color: var(--ContactColor);
}
.header-logo-text{
    color: var(--header-logo-TextColor);
}

/* hero section */
.hero {
    margin: 0;
    color: var(--FirstMainColor);
    background-color: var(--MainBackgroundColor);
}
.hero__main-text {
    /* Забіг трохи вперед. Центрування зробив, як вважав правильним,
    не факт, що так воно і є :) */
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    color: var(--FirstMainColor);
    background-color: var(--button-BackgroundColor);
}

/* features*/
/*.features-list {
}*/
.features-item {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03;
    text-transform: uppercase;
    color: var(--MainColor);
}
.features-item-description{
    margin: 0;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03;
    color: var(--DescriptionColor);
}

/* about */
.about-header {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.about-list {
    margin: 0;
}

/* team */
.team {
    background-color:var(--TeamBackgroundColor);
}
.team-header {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
/*.team-list {
    display: flex;
}*/
.team-list-item {
    background-color: var(--SecondBackgroundColor);
    margin:0;
    padding: 0;
}*/
.team-list-item-header {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;/* identical to box height */
}
.team-list-item-descriptor {
    margin: 0;
    /*margin-bottom: 30px;*/
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;/* identical to box height */
}

/* footer */
.footer {
    color: var(--FirstMainColor);
    background-color: var(--MainBackgroundColor);
}
.footer-logo-text{
    color: var(--footer-logo-TextColor);
}
.footer-text {
    color: var(--FirstMainColor);
}
.footer-contacts {
    color: rgba(255, 255, 255, .6);
}

/* Portfolio */

/*gallery*/
.gallery-element {
    background-color: var(--SecondBackgroundColor);
}
.gallery-item {
    font-size: 18px;
    line-height: 2;/* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--GalleryItemColor);
}
.gallery-item-description {
    font-size: 16px;
    line-height: 1.88;/* identical to box height, or 188% */
    color: var(--DescriptionColor);
}